<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

{% if user.is_customer%}
<button class="button button1"><a href="">check</a></button><br>
{%else%}
<button class="button button1"><a href="api/customers">All profiles</a></button><br>
{%endif%}
<button class="button button1"><a href="api/loan-requests">Loan Requests</a></button>
</body>
</html>
