{% extends "base.html" %}
{% load rest_framework %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="container py-5" style="position: relative; top: 100px;">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1>Loan application</h1>
    
    <form action="{% url 'loan-list' %}{% if loan %}{{loan}}/edit/{% endif %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% render_form serializer %}                    
          <button class="btn btn-primary" type="submit">Apply</button>
      </form>
  </div>

{% endblock content%}