{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Responsive Sticky Navbar</title>
      <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="{% static 'JS/script.js' %}"></script>
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  LOGO
               </div>
               <div class="menu">
                  <ul>
                    
                     <li><a href="#">Home</a></li>
                     <li><a href="#">About</a></li>
                     {% if not user.is_authenticated %}
                     <li><a href="{% url 'register' %}">Register</a></li>
                     <li><a href="{% url 'login' %}">Login</a></li>
                     {% else %}
                     <li><a href="{% url 'logout' %}">Logout</a></li>
                     <li><a href="applyloan">Apply for loan</a></li>
                     <li><a href="actions">Actions</a></li>
                     {%endif%}
                  </ul>
               </div>
            </nav>
         </header>
         
         
      </div>
{% block content %} {% endblock content %}
{% block body %} {% endblock body %}
   </body>
</html>