{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>LoanEasy</title>
      <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="{% static 'JS/script.js' %}"></script>
      
     
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>

               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo" style="color:darkslategray">
                  {% if user.is_authenticated %}
                     Hello, {{user.first_name}}|LoanEasy
                  {%else%}
                      LoanEasy
                  {%endif%}
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="/" >Home</a></li>
                     {% if user.is_authenticated %}
                     {% if user.is_agent or user.is_admin %}
                     <li><a href="{% url 'customerprofile-list' %}">Customers</a></li>
                     {% endif %}

                     <li><a href="{% url 'loan-list' %}">Loan Requests</a></li>

                     {% if user.is_agent or user.is_customer %}
                     <li><a href="{% url 'loan-blank-form' %}">Apply for loan</a></li>
                     {% if user.is_customer and user.customer %}
                     <li><a href="{% url 'customerprofile-list' %}{{user.customer.id}}/">Profile</a></li>
                     {% endif %}
                     {% endif %}

                     <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                   <li><a href="{% url 'login' %}">Login / Signup</a></li>
                  {% endif %}
                  </ul>
               </div>
               
            </nav>
            {% block content %}  {% endblock content %}
             <!-- <section class="background" >
              
               <img src="static/register.jpg">
               
            </section>  -->
            
         </header>
         
      </div>
      
{% block body %} {% endblock body %}
   </body>
</html>
    



   