{% extends "base.html" %}
{% load rest_framework %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="container py-5">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  
  <form action="{% url 'customerprofile-list' %}{{customer}}/edit/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% render_form serializer %}                    
		<button class="btn btn-primary" type="submit">Apply</button>
	</form>
</div>

{% endblock %}