


{% load static %}


<link rel="stylesheet" href="{% static 'css/table.css' %}">




        <section>
          <!--for demo wrap-->
          <h1 style="color:darkslategrey;">Loan Requests</h1>
          
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Tenure</th>
                  <th>Interest Rate</th>
                  <th>Emi</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Amount Paid</th>
                  <th>No of Installments left</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                
                {% for loan in loan_requests %} 
                <tr>
                  <td>{{loan.customer}}</td>
                  <td>{{loan.loan_type}}</td>
                  <td>{{loan.amount}}</td>
                  <td>{{loan.tenure}} </td>
                  <td>{{loan.interest_rate}}</td>
                  <td>{{loan.emi}}</td>
                  <td>{{loan.start_date}}</td>
                  <td>{{loan.end_date}}</td>
                  <td>{{loan.amount_paid}}</td>
                  <td>{{loan.no_of_emi_left}}</td>
                  <td>{{loan.status}}</td>
                  {% if not user.is_customer %}
                  <td><a class=disabled href="{% url 'loan-list' %}{{loan.id}}/edit">Edit</a></td>
                  {% endif %}
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button class="button button1" style="position: relative;left:1100px"><a href="/">Back</a></button><br>
          <h3>Filters</h3>
          <form action="{% url 'loan-list' %}" method="GET">
            <label for="start_date">Start_Date: </label>
            <input type="text" id="start_date" name="start_date"><br><br>
            
            <input type="submit" value="Search">
          </form>
          <br>
          <form action="{% url 'loan-list' %}" method="GET">
            <label for="end_date">End_Date: </label>
            <input type="text" id="end_date" name="end_date"><br><br>
            
            <input type="submit" value="Search">
          </form>
            <br>
          <form action="{% url 'loan-list' %}" method="GET">
            <label for="tenure">Tenure: </label>
            <input type="text" id="tenure" name="tenure"><br><br>
            
            <input type="submit" value="Search">
          </form>

          <br>
          <form action="{% url 'loan-list' %}" method="GET">
            <label for="status">Status: </label>
            <input type="text" id="status" name="status"><br><br>
            
            <input type="submit" value="Search">
          </form>

          

         
          
      
        </section>
        
     
