{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<section>
    <!--for demo wrap-->
    <h1>Loan Requests</h1>
    
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Tenure</th>
            <th>Interest Rate</th>
            <th>Emi</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Amount Paid</th>
            <th>No of Installments left</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          
          {% for loan in loanrequests %} 
          <tr>
            <td>{{loan.customer}}</td>
            <td>{{loan.loan_type}}</td>
            <td>{{loan.amount}}</td>
            <td>{{loan.tenure}} </td>
            <td>{{loan.interest_rate}}</td>
            <td>{{loan.emi}}</td>
            <td>{{loan.start_date}}</td>
            <td>{{loan.end_date}}</td>
            <td>{{loan.amount_paid}}</td>
            <td>{{loan.no_of_emi_left}}</td>
            <td>{{loan.status}}</td>
            <td><button class="button button1"><a href="api/loan-requests?id={{loan.id}}">Edit/Delete</a></button></td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <button class="button button1"><a href="{% url 'profile' %}">Back</a></button><br>
    

  </section>