<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    body {
      background-image: url('static/pic1.jpg');
    }
    </style> 
<body style="background-color:#dddddd">
    <h1 style="text-align: center; font-size: 50px; color:#bdc7c9;">Welcome</h1>
    <form action="login" method="POST" style="text-align: center; margin-top: 10%;">
        {%csrf_token%}
        <p style="color:#464f41">Please Sign in</p>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password",placeholder="Password"><br><br>
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="register">Register here</a></p>
    </form>
</body>
</html>