{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<section>
    <!--for demo wrap-->
    <h1>Customer Profiles</h1>
    
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Street Address</th>
            <th>Zip_code</th>
            <th>City</th>
            <th>Country </th>
            <th>Requests</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          
          {% for customer in profiles %}        
            <td>{{customer.user.first_name}}</td>
            <td>{{customer.user.last_name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.street_address}} </td>
            <td>{{customer.zip_code}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.country}}</td>
            <td><a href="loan-requests?customer={{customer.id}}">{{'See Loan Requests'}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button class="button button1"><a href="/">Back</a></button><br>
  </section> 