{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5" style="position: relative;top: 30px;">
  <h1 style="position: relative;left: 400px;">Register </h1>
	<form action="register" method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}   
    <br>                 
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
  {{ errors }}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock content %}